In [2]:
#PRIMER BOCETO PROYECTO IA
#Julian David Colmenares
#Juan Sebastian Leon
#Laura Vargas de Leon

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import KFold
from sklearn.metrics import *

In [16]:
data2 = pd.read_csv('datasets_469690_880822_column_3C.csv')
data1 = pd.read_csv('datasets_469690_880822_column_2C.csv')

In [17]:
data1.head()

,pelvic_incidence,pelvic_tilt,lumbar_lordosis_angle,sacral_slope,pelvic_radius,degree_spondylolisthesis,class
0,63.027817,22.552586,39.609117,40.475232,98.672917,-0.254400,Abnormal
1,39.056951,10.060991,25.015378,28.995960,114.405425,4.564259,Abnormal
2,68.832021,22.218482,50.092194,46.613539,105.985135,-3.530317,Abnormal
3,69.297008,24.652878,44.311238,44.644130,101.868495,11.211523,Abnormal
4,49.712859,9.652075,28.317406,40.060784,108.168725,7.918501,Abnormal

In [18]:
print(data1.shape)
print(data2.shape)

(310, 7)
(310, 7)

In [19]:
data2.head()

,pelvic_incidence,pelvic_tilt,lumbar_lordosis_angle,sacral_slope,pelvic_radius,degree_spondylolisthesis,class
0,63.027817,22.552586,39.609117,40.475232,98.672917,-0.254400,Hernia
1,39.056951,10.060991,25.015378,28.995960,114.405425,4.564259,Hernia
2,68.832021,22.218482,50.092194,46.613539,105.985135,-3.530317,Hernia
3,69.297008,24.652878,44.311238,44.644130,101.868495,11.211523,Hernia
4,49.712859,9.652075,28.317406,40.060784,108.168725,7.918501,Hernia

In [38]:
dataAbnormal=data1[data1['class']=='Abnormal']

In [36]:
dataNormal=data1[data1['class']!='Abnormal']

In [39]:
print(dataNormal.shape)
print(dataAbnormal.shape)

(100, 7)
(210, 7)

In [40]:
print(310*0.75)

232.5

In [67]:
#90 datos Normales y 142 datos Anormales??
dataAbnormalFit=dataAbnormal.values[:142,:]
dataNormalFit=dataNormal.values[:90, :]
dataAbnormalFit=pd.DataFrame(dataAbnormalFit)
dataNormalFit=pd.DataFrame(dataNormalFit)

In [68]:
print(dataNormalFit.shape)
print(dataAbnormalFit.shape)

(90, 7)
(142, 7)

In [71]:
dataNew = pd.concat((dataNormalFit, dataAbnormalFit)).sample(frac=1).reset_index(drop=True)
dataNew.head(10)

         0        1        2        3        4         5         6
0  57.5224  33.6471  50.9099  23.8753  140.982   148.754  Abnormal
1  56.1038  13.1063   62.637  42.9975  116.229   31.1728    Normal
2  72.9556   19.577  61.0071  53.3787  111.234  0.813491    Normal
3  44.4893  21.7864  31.4742  22.7028  113.778 -0.284129    Normal
4  50.8193  15.4022  42.5289  35.4171  112.193   10.8696  Abnormal
5  31.4842  7.82622  24.2848   23.658  113.833   4.39308  Abnormal
6  79.9386  18.7741  63.3118  61.1645  114.787   38.5387  Abnormal
7  48.0606  5.68703  57.0572  42.3736  95.4438   32.8359  Abnormal
8  59.1676  14.5627  43.1992  44.6049  121.036    2.8305    Normal
9  40.3493  10.1947  37.9677  30.1545   128.01  0.458901    Normal

In [ ]:
pd.plotting.scatter_matrix(data, figsize=(10,10));